.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Adjust as needed */
}

.header-actions {
    margin-left: auto;
}

.logout-button {
    background-color: #007bff;
    color: white !important;
    border: 1px solid #007bff; 
    padding: 8px 16px;
    border-radius: 4px;
}

// .logout-button:hover {
//     background-color: #007bff;
//     color: white;
// }
