<div class="landing-page">
    <div class="content-container">
      <div class="image-container">
        <img src="../../../assets/herosectionimage.png" alt="Image" />
      </div>
      <div class="card-container">
        <mat-card class="card">
          <h2>Welcome to Know Me</h2>
          <p>Choose your journey:</p>
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="onClickCompany()">Company Login</button>
            <button mat-raised-button color="accent" (click)="onClickPersonal()">Personal Login</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  